body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.main-title {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 125px;
}

.breadboarding-tools-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 101px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.item-name {
  margin-top: 25px;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}

.item-price {
  margin-top: 25px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}

.item-btn {
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #23bac1;
  border: 1px solid #23bac1;
  background-color: transparent;
  padding: 23px 75px;
  margin-top: 25px;
}
.item-btn:hover {
  background-color: #23bac1;
  border: 1px solid #fff;
  color: #fff;
}
